<nav class="subnav">
    <div class="container">
        <div class="subnav-wrap">
            <ul class="subnav-list">
                <li class="subnav-item"><a href="#">最新消息</a></li>
                <li class="subnav-item"><a href="./blog-article.html">特別企劃</a></li>
                <li class="subnav-item"><a href="#">新品上市</a></li>
                <li class="subnav-item"><a href="#">鏡框小知識</a></li>
            </ul>
            <a href="#" class="search">
                <span class="material-symbols-outlined">search</span>
            </a>
        </div>
    </div>
</nav>