<header>
    <div class="container">
        <div class="header">
            <h1 class="logo">
                <a href="./index.html">
                    <img src="../assets/images/logo-white.png" alt="website-logo-white">
                </a>
            </h1>

            <nav>
                <ul class="header-nav-list">
                    <li class="header-nav-list-item"><a href="./optical.html">系列鏡框</a></li>
                    <li class="header-nav-list-item"><a href="./stores.html">門市據點</a></li>
                    <li class="header-nav-list-item"><a href="./blog.html">部落格</a></li>
                    <li class="header-nav-list-item"><a href="./faq.html">常見問題</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>