<nav class="pages container">
    <ul class="pages-list">
        <li class="pages-item"><a class="page-previous" href="#">上一頁</a></li>
        <li class="pages-item pages-item-active"><a class="page-num" href="#">1</a></li>
        <li class="pages-item"><a class="page-num" href="#">2</a></li>
        <li class="pages-item"><a class="page-num" href="#">3</a></li>
        <li class="pages-item"><a class="page-num" href="#">4</a></li>
        <li class="pages-item"><a class="page-num" href="#">5</a></li>
        <li class="pages-item"><a class="page-next" href="#">下一頁</a></li>
    </ul>
</nav>