.section-title {
    font-size: $fz-xl;
    color: $color-secondary;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;

    @include mobile {
        font-size: $fz-m;
    }
}

.page-title {
    font-size: $fz-xl;
    font-weight: bold;
    padding-left: 16px;
    border-left: 8px solid $title-border;
    margin-bottom: 32px;

    @include mobile {
        font-size: $fz-m;
        margin-bottom: 24px;
    }
}