$color-primary: #AA0601;
$color-bg: #FBF2F2;
$title-txt-primary: #650300;
$color-year: #707070;
$color-border: #DEE2E6;
$color-shadow: #00000029;

$fz-xl: 48px;
$fz-l: 36px;
$fz-m: 24px;
$fz-s: 20px;
$fz-xs: 14px;