header {
  background: $color-primary;

  .container {
    @include mobile {
      padding: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }

  .logo {
    width: 80px;
    padding: 16px 0;

    @include mobile {
      align-self: start;
      padding-left: 15px;
    }
  }
}

.header-nav-list {
  width: 492px;
  display: flex;
  justify-content: space-between;
  font-size: $fz-s;

  @include mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.header-nav-list-item {
  @include mobile {
    width: 50%;
    padding: 12px 62px;
    border: 1px solid #fff;
  }

  a {
    color: #fff;

    &:hover {
      transform: scale(0.9);
      transition: transform 0.3s
    }

    @include mobile {
      width: 100%;
    }
  }
}