.subnav {
    background: $color-secondary;
}

.subnav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;

    .search {
        color: #fff;

        span {
            font-size: 29px;
        }

        @include mobile {
            display: none;
        }
    }
}

.subnav-list {
    display: flex;
    gap: 48px;

    @include mobile {
        width: 100%;
        justify-content: space-between;
    }

    .subnav-item {
        font-size: $fz-s;
        color: #fff;

        @include mobile {
            font-size: 16px;
        }
    }
}