<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>BLOG-ARTICLE</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <%- include('./layout/header-subnav'); -%>
            <main class="container">
                <div class="page-path">
                    <p>首頁 / 部落格 / 特別企劃 / <span>情人特別企劃</span></p>
                    <ul class="tags-list">
                        <li class="tags-item"><a href="#">#special</a></li>
                        <li class="tags-item"><a href="#">#event</a></li>
                    </ul>
                </div>
                <section class="blog-article">
                    <div class="article">
                        <h2 class="article-title">情人特別企劃</h2>
                        <h3 class="minro-title">2020 Valentine’s Special</h3>
                        <div class="content">
                            <img class="content-pic" src="../assets/images/blogpage-1.png" alt="情人示意照">
                            <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />本次拍攝的鏡框款式與 NEEDS CLASSIC
                                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>

                            <img class="content-pic" src="../assets/images/blogpage-2.png" alt="產品照1-金黃">
                            <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />本次拍攝的鏡框款式與 NEEDS CLASSIC
                                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>

                            <img class="content-pic" src="../assets/images/blogpage-3.png" alt="產品照2-荷綠">
                            <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />本次拍攝的鏡框款式與 NEEDS CLASSIC
                                聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>

                            <img class="content-pic" src="../assets/images/blogpage-4.png" alt="情人牽手形象照">
                            <p><time>2/14(五)-2/20(日)</time><br />至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br />
                                期間優惠還有~~持他牌鏡框更換鏡片<br />
                                薄型非球面鏡片折300元 濾藍光鏡片折500元<br />
                                快快帶上另一半<br />
                                讓彼此每一次睜開眼，都被愛的視線包圍!</p>
                        </div>
                        <div class="share">
                            <p>Share</p>
                            <a href="#" class="share-link">
                                <img src="../assets/images/logo-facebook.png" alt="">
                            </a>
                            <a href="#" class="share-link">
                                <img src="../assets/images/logo-instagram.png" alt="">
                            </a>
                        </div>
                        <hr>
                        <div class="arrow-link">
                            <a href="#" class="back">
                                <span class="material-symbols-outlined">arrow_back</span>上一篇：街頭潮人訪問 1</a>
                            <a href="#" class="forward">下一篇：街頭潮人訪問 2
                                <span class="material-symbols-outlined">arrow_forward</span>
                            </a>
                        </div>
                    </div>
                    <aside>
                        <div class="label">
                            <div class="label-title">
                                <span class="label-icon material-symbols-outlined">
                                    label
                                </span>
                                <span class="label-txt">TAGS</span>
                            </div>
                            <ul class="hashtag-list">
                                <li class="hashtage-item">
                                    <a href="">
                                        <p>#special</p>
                                    </a>
                                    <a href="">
                                        <p>#sale</p>
                                    </a>
                                </li>
                                <li class="hashtage-item d-flex">
                                    <a href="">
                                        <p>#new_item</p>
                                    </a>
                                    <a href="">
                                        <p>#interview</p>
                                    </a>
                                </li>
                                <li class="hashtage-item">
                                    <a href="">
                                        <p>#trivia</p>
                                    </a>
                                    <a href="">
                                        <p>#news</p>
                                    </a>
                                </li>
                                <li class="hashtage-item">
                                    <a href="#">
                                        <p>#event</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </section>
            </main>
            <%- include('./layout/footer'); -%>
                <script type="module" src="../main.js"></script>
</body>

</html>